@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --secondary-dim: #1ad0eb;
  --tertiary-fixed: #ff8bc5;
  --inverse-on-surface: #565554;
  --tertiary-container: #f673b7;
  --on-tertiary: #5f003e;
  --outline-variant: #494847;
  --error-dim: #d53d18;
  --surface-variant: #262626;
  --surface-container-low: #131313;
  --on-primary-fixed-variant: #685900;
  --tertiary-dim: #f271b5;
  --on-primary-fixed: #483d00;
  --primary: #fcdf46;
  --inverse-surface: #fcf8f8;
  --surface-container: #1a1919;
  --outline: #777575;
  --primary-container: #c4ab01;
  --background: #0e0e0e;
  --surface-container-high: #201f1f;
  --on-secondary-fixed: #003a43;
  --primary-dim: #edd139;
  --secondary: #3adffa;
  --error: #ff7351;
  --on-error-container: #ffd2c8;
  --on-primary-container: #342c00;
  --on-error: #450900;
  --on-secondary: #004b56;
  --on-secondary-fixed-variant: #005966;
  --surface-tint: #fcdf46;
  --primary-fixed-dim: #edd139;
  --surface-container-highest: #262626;
  --on-tertiary-fixed: #360021;
  --tertiary: #ff86c3;
  --secondary-fixed: #48e4ff;
  --inverse-primary: #6e5f00;
  --surface-dim: #0e0e0e;
  --error-container: #b92902;
  --tertiary-fixed-dim: #f976ba;
  --on-secondary-container: #eafbff;
  --on-tertiary-container: #4a002f;
  --secondary-fixed-dim: #29d6f1;
  --on-background: #ffffff;
  --on-primary: #5d5000;
  --on-tertiary-fixed-variant: #73004b;
  --surface: #0e0e0e;
  --on-surface-variant: #adaaaa;
  --primary-fixed: #fcdf46;
  --on-surface: #ffffff;
  --secondary-container: #006877;
  --surface-container-lowest: #000000;
  --surface-bright: #2c2c2c;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-secondary-dim: var(--secondary-dim);
  --color-tertiary-fixed: var(--tertiary-fixed);
  --color-inverse-on-surface: var(--inverse-on-surface);
  --color-tertiary-container: var(--tertiary-container);
  --color-on-tertiary: var(--on-tertiary);
  --color-outline-variant: var(--outline-variant);
  --color-error-dim: var(--error-dim);
  --color-surface-variant: var(--surface-variant);
  --color-surface-container-low: var(--surface-container-low);
  --color-on-primary-fixed-variant: var(--on-primary-fixed-variant);
  --color-tertiary-dim: var(--tertiary-dim);
  --color-on-primary-fixed: var(--on-primary-fixed);
  --color-primary: var(--primary);
  --color-inverse-surface: var(--inverse-surface);
  --color-surface-container: var(--surface-container);
  --color-outline: var(--outline);
  --color-primary-container: var(--primary-container);
  --color-surface-container-high: var(--surface-container-high);
  --color-on-secondary-fixed: var(--on-secondary-fixed);
  --color-primary-dim: var(--primary-dim);
  --color-secondary: var(--secondary);
  --color-error: var(--error);
  --color-on-error-container: var(--on-error-container);
  --color-on-primary-container: var(--on-primary-container);
  --color-on-error: var(--on-error);
  --color-on-secondary: var(--on-secondary);
  --color-on-secondary-fixed-variant: var(--on-secondary-fixed-variant);
  --color-surface-tint: var(--surface-tint);
  --color-primary-fixed-dim: var(--primary-fixed-dim);
  --color-surface-container-highest: var(--surface-container-highest);
  --color-on-tertiary-fixed: var(--on-tertiary-fixed);
  --color-tertiary: var(--tertiary);
  --color-secondary-fixed: var(--secondary-fixed);
  --color-inverse-primary: var(--inverse-primary);
  --color-surface-dim: var(--surface-dim);
  --color-error-container: var(--error-container);
  --color-tertiary-fixed-dim: var(--tertiary-fixed-dim);
  --color-on-secondary-container: var(--on-secondary-container);
  --color-on-tertiary-container: var(--on-tertiary-container);
  --color-secondary-fixed-dim: var(--secondary-fixed-dim);
  --color-on-background: var(--on-background);
  --color-on-primary: var(--on-primary);
  --color-on-tertiary-fixed-variant: var(--on-tertiary-fixed-variant);
  --color-surface: var(--surface);
  --color-on-surface-variant: var(--on-surface-variant);
  --color-primary-fixed: var(--primary-fixed);
  --color-on-surface: var(--on-surface);
  --color-secondary-container: var(--secondary-container);
  --color-surface-container-lowest: var(--surface-container-lowest);
  --color-surface-bright: var(--surface-bright);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-headline: var(--font-ryzes);
  --font-body: "Space Grotesk", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body);
}

@font-face {
  font-family: "Material Symbols Outlined";
  font-style: normal;
  font-weight: 100 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/materialsymbolsoutlined/v322/kJEPBvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oDMzBwG-RpA6RzaxHMPdY40KH8nGzv3fzfVJO1Q.woff2)
    format("woff2");
}

.material-symbols-outlined {
  font-family: "Material Symbols Outlined";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}

.scanline-bg {
  background:
    linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%),
    linear-gradient(
      90deg,
      rgba(255, 0, 0, 0.06),
      rgba(0, 255, 0, 0.02),
      rgba(0, 0, 255, 0.06)
    );
  background-size:
    100% 2px,
    3px 100%;
}
.corner-bracket::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 12px;
  height: 12px;
  border-top: 2px solid currentColor;
  border-left: 2px solid currentColor;
}
.corner-bracket::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 12px;
  height: 12px;
  border-bottom: 2px solid currentColor;
  border-right: 2px solid currentColor;
}
.glitch-hover:hover {
  text-shadow:
    2px 0 #ff86c3,
    -2px 0 #3adffa;
}

.glitch {
  position: relative;
  font-size: 25px;
  font-weight: 700;
  line-height: 1.2;
  color: #fff;
  letter-spacing: 5px;
  z-index: 1;
  animation: shift 1s ease-in-out infinite alternate;
}

.glitch:before,
.glitch:after {
  display: block;
  content: attr(data-glitch);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.8;
}

.glitch:before {
  animation: glitch 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
  color: #8b00ff;
  z-index: -1;
}

.glitch:after {
  animation: glitch 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both
    infinite;
  color: #00e571;
  z-index: -2;
}

@keyframes glitch {
  0% {
    transform: translate(0);
  }

  20% {
    transform: translate(-3px, 3px);
  }

  40% {
    transform: translate(-3px, -3px);
  }

  60% {
    transform: translate(3px, 3px);
  }

  80% {
    transform: translate(3px, -3px);
  }

  to {
    transform: translate(0);
  }
}

@keyframes shift {
  0%,
  40%,
  44%,
  58%,
  61%,
  65%,
  69%,
  73%,
  100% {
    transform: skewX(0deg);
  }

  41% {
    transform: skewX(10deg);
  }

  42% {
    transform: skewX(-10deg);
  }

  59% {
    transform: skewX(40deg) skewY(10deg);
  }

  60% {
    transform: skewX(-40deg) skewY(-10deg);
  }

  63% {
    transform: skewX(10deg) skewY(-5deg);
  }

  70% {
    transform: skewX(-50deg) skewY(-20deg);
  }

  71% {
    transform: skewX(10deg) skewY(-10deg);
  }
}
